* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Manrope', sans-serif;
    letter-spacing: 1.3;
    background-color: #352f5b;
    font-size: 10px;
    color: #fff;
    box-sizing: border-box;
}

.app-wrapper {
    font-size: 1.4rem;
    width: 50%;
    max-width: 400px;
    margin: auto;
    text-align: center;
}

input,
input:focus {
    width: 100%;
    border-radius: 5px;
    border: none;
    background: rgba(0, 0, 0, 0.2);
    padding: 1rem;
    font-size: 1.2rem;
    color: #fff;
    height: 2.8rem;
}

.list-wrapper li {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-size: 1.2rem;
    align-items: center;
    border-radius: 2px;
    margin: 1px;
    background-color: #423a6f;
}

.search input {
    margin-bottom: 1rem;
}

.add {
    margin-top: 2.5rem;
}

.add input {
    margin-top: .5rem;
}

.title {
    margin: 2.5rem 0;
    color: rgba(255, 255, 255, 0.774);
}

ul {
    list-style: none;
}

li {
    background-color: #352fb5;
    padding: .5rem 1rem;
}

i {
    cursor: pointer;
}

.filterd {
    display: none !important;
}
